<!DOCTYPE html>
<html lang="en" class="md">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/assets/logo.png">

    <title>{{ title }} · MEDUSA</title>

    <!-- MEDUSA Style -->
    <link rel="stylesheet" href="/static/css/aero.css">
    <link rel="stylesheet" href="/static/css/medu.css">
    <link rel="stylesheet" href="/static/css/medit.css">

    <!-- External Fonts -->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://use.typekit.net/cmv4hmf.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
